[Desktop Entry]
Type=Application
Name=Monet idle locker v2
Comment=Experimental Monet lock screen for XFCE/X11
Exec=xautolock -time 30 -locker monet-locker -detectsleep -secure
Hidden=true
X-GNOME-Autostart-enabled=false
OnlyShowIn=XFCE;
Terminal=false
NoDisplay=true
